#home-header h1 {
    font-size: 48px; 
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px; 
    margin-bottom: 10px; 
    letter-spacing: 3px;
    color: #333; 
}

body {
    background: #F4F4F4;
    background-image: url("background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
  }
  #home-forms, #redirection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#registration-containers, #redirectionn-containers {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 150px;
}

.initial-forms,.initial-redirection {
    margin: 0 10px;
}

.initial-forms a,.initial-redirection a {
    display: block;
    padding: 10px 20px;
    background-color: #333;
    color: #F4F4F4; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.initial-forms a:hover,.initial-redirection a:hover {
    background-color: #005F6B;
}

/* Style the register section */
#register-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Style the register form inputs */
#register-form input[type="text"],
#register-form input[type="password"],
#register-form input[type="email"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: #333;
}

#register-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#register-form a{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 10px;
}

#register-form input[type="submit"]:hover,#register-form a:hover {
  background-color: #005F6B;
}

#login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Style the login form inputs */
#login-form input[type="text"],
#login-form input[type="password"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: #333;
}

#login-form button[type="submit"]{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

#login-form a{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

#login-form button[type="submit"]:hover,#login-form a:hover {
  background-color: #005F6B;
}

#create-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Style the create form inputs */
#create-form input[type="text"],
#create-form input[type="date"],
#create-form select,
#create-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: #333;
}

#create-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#create-form input[type="submit"]:hover {
  background-color: #005F6B;
}

#create-form label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 100px;
  font-weight: bold;
}

.w-5{
  display: none;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  display: block;
  padding: 10px;
  margin: 5px;
  background-color: #ccc;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}


.search-form {
  display: flex;
  margin-right: 1em;
}
.search-input {
  flex: 1;
  margin-right: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
}
.search-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em;
  cursor: pointer;
}
main {
  margin: 1em;
}
.project-table {
  border-collapse: collapse;
  width: 100%;
}
.project-table th,
.project-table td {
  padding: 0.5em;
  border: 1px solid #ddd;
}
.project-table th {
  background-color: #eee;
  text-align: left;
}
.project-table td a {
  text-decoration: none;
  font-weight: bold;
  color:#0a2b8e ;
  transition: all 0.2s ease-in-out;
}

.project-table a:hover {
  color: #333;
}

.alert {
  background-color: #f44336;
  color: white;
  padding: 5px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
